@model Core.Models.Student
@{
    Layout = "MyLayout";
}


<h2>Delete Confirmation</h2>
<p>Are you sure you want to delete student <strong>@Model.Name</strong>?</p>

<form asp-controller="Student" asp-action="ConfirmDelete" asp-route-id="@Model.Id" method="post">
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-controller="Student" asp-action="ShowAll" class="btn btn-secondary">Cancel</a>
</form>
